@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');


html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family: Verdana, Tahoma, sans-serif;
  margin: 0;
  line-height: 1.4;
}

img {
  max-width: 100%;
  height: auto;
}

h1, h2, h3, button {
  font-family: "Anton", sans-serif;
}

h1 {
  color: #fff;
  font-size: 4.209rem;
  text-align: center;
  text-shadow: 2px 3px 4px rgba(0,0,0,0.6);
}

h2 {
  color: #F54F95;
  font-size: 3.157rem;
  margin-top: 0;
}

h3 {
  font-size: 2.369rem;
  text-transform: uppercase;
  margin: 0;
}

/* Head Styles? */

#donut-logo {
  max-width: 160px;

}

.donut-header {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 20px 100px;
}


header nav ul {
  display: flex;
  gap: 10px;
  list-style-type: none;
}

header nav ul a {
  background-color: #F54F95;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
    display: inline-block;
    margin-left: 1em;
    border: 1px solid #F54F95;
}
  
 header nav ul a:hover,
 header nav ul a:focus {
    background-color: white;
    color: #F54F95;
    
 }
  
  
/* Banner Section? */

#hero {
  align-items: center;
  background-image: url("../images/hero-donuts.jpg");
  background-color: #F54F95;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  height: 60vh;
  justify-content: center;
}

section {
  margin: 4em 0;
}

/* Donut Card Styling */

.product-container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1em;
}

.donut-card {
  border-radius: 14px;
  color: white;
  padding: 2em, 1.25em;
  text-align: center;

  display: flex;
  flex-direction: column;
}


.donut-card:nth-child(1) {
  background-color: #F54F95;
}

.donut-card:nth-child(2) {
  background-color: rgb(186, 134, 134);
}

.donut-card:nth-child(3) {
  background-color: rgb(234, 234, 63);
}

.donut-card:nth-child(4) {
  background-color: rgb(181, 207, 181);
}

.product-container p{
  margin: .5em 0;
}

.product-container p.price{
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 2em;
}


.product-card, .button {
  background-color: white;
  font-size: 1.125rem;
  color: #F54F95;
  display: inline-block;
  font-weight: bold;
  margin: 50px auto 0;
  border-radius: 20px;
  width: fit-content;
  cursor: pointer;
  border: none
}

  .product-card button:hover,
  .product-card button:focus {
    background-color: #F54F95;

  }

  .foot-container {
    background-color: #F54F95;
    padding: .5em 0;
    text-align: center;
    color: white;
  }

  @media (min-width: 600px){

    .donut-card {
      grid-template-columns: 1fr 1fr;
    }

    @media (min-width: 1000px) {
      .donut-card{
        grid-template-columns: 1fr 1fr 1fr fr;
      }
    }
  }